@jumbo-header: #fff;
@footer-block: black;
@green-color: #26A65B;
@logo: "fp_landing_images/chachinglogo.png";
@logo-alt: "fp_landing_images/chachinglogoalt.png";

body {
  background-color: rgb(245,245,245);
}

.navbar-brand {
	background-image: url(@logo);
	text-indent: -9999px;
	font-size: 0px;
 	width: 100px;
 	height: 39px;
 	float: left;
 	background-repeat: no-repeat;
 }

 .organization {
  height: 200px;
  display: inline-block;
 }

 .navbar-default {
  border: none;
 }

 .navbar-default .navbar-nav li>a{
  color: white;
 }

 .navbar-default .navbar-nav .active a {
  background-color: white;
  color: @green-color;
 }

 .navbar-header {
 	background-color: @green-color;
 }

 .navbar-collapse {
 	background-color: @green-color;
 }

 
@media (min-width: 768px) {
  .col-md-2.sidebar {
    max-width: 13%;
    min-width: 150px;
    padding-right: 0px;
  }
.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
    .sidebar-nav {
    background-color: @green-color;
    height: 100%;
    display: block;

  }
}


.top-nav {
  height: 135px;
  display: block;
  background-color: white;
}

.col-md-10.content {
  padding-left: 0;
}



.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
