@jumbo-header: #fff;
@footer-block: black;
@green-color: #26A65B;
@logo: "fp_landing_images/chachinglogo.png";
@logo-alt: "fp_landing_images/chachinglogoalt.png";



.navbar-brand {
	background-image: url(@logo);
	text-indent: -9999px;
	font-size: 0px;
 	width: 100px;
 	height: 39px;
 	float: left;
 	background-repeat: no-repeat;
 }

 .navbar-header {
 	background-color: @green-color;
 }

 .navbar-collapse {
 	background-color: @green-color;
 }

